@charset "utf-8";

* {
    font-family: "나눔고딕", "맑은고딕", "굴림", "Helvetica";
    color: #222;
}

a {
    color: #222;
    text-decoration: none;
}

/* 조원 모두 통일하기(줄어드는 최소 사이즈 지정) */
body {
    min-width: 1200px;
}

hr {
    display: none;
}



.container {
    width: 1100px;
    margin: auto;
}

/* 타이틀 */
.title_name {
    display: inline-block;
    font-size: 28px;
    color: #222;
    font-weight: bold;
    padding-top: 80px;
    padding-bottom: 60px;

}

/* 필수 입력 항목(*) */
.title_ect {
    font-size: 12px;
    color: #b0b0b0
}

/* 본문 왼쪽 타이틀 */
.goodsup>div>p {
    display: block;
    font-size: 17px;
    width: 120px;
    float: left;
    line-height: 34px;

}

/* float clear */
.join_body div:after {
    clear: both;
    float: none;
    display: block;
    content: '';
}

/* 회원가입 body 크기, 위치 */
.join_body {
    width: 800px;
    margin: auto;

}

/* 전체 버튼 색, 둥글게 */
.container button {
    background-color: #356211;
    color: white;
    border: 1px solid #356211;
    border-radius: 5px;
}

/* 버튼 설정 */
.join_body button {
    height: 32px;
    line-height: 28px;
    margin-right: 20px;
}

/* input box 크기, 위치 설정 */
form input,
textarea {
    border-radius: 5px;
    border: 1px solid #c9c9c9;
    resize:none;
}

.goods_title input {
    width: 77%;
    height: 32px;
}

.goods_price input {
    width: 20%;
    height: 32px;
}

.goods_category select {
    height: 36px;
    width: 20%;
}

/* 비밀번호, 이메일 확인 padding */
.pd {
    margin-top: 5px;
}

/* 각 div 사이 여백 */
.join_body>form>div {
    padding-bottom: 25px;
}

/* 지역선택 select 크기 */
select {
    height: 32px;
    border-radius: 5px;
    border: 1px solid #c9c9c9;
    color: #828282
}

/* 본문 크기 */
.goods_content textarea {
    width: 77%;
    height: 300px;
}

.goods_img>p{
    height:100px;
}

.desc {
    float:left;
    width: 500px;
}

.desc p {
    display: inline-block;
}

.desc_top {
    padding: 16px 0 2px 0;
    color: #d60000;
    font-weight: bold;
    float : left;
}

.desc_bottom {
    color: #737373;
    font-size: 15px;
    padding-bottom: 20px;
    float : left;
}

.imgup {
    width: 622px;
    padding: 5px 0 5px 0 ;
}

/* 회원가입 버튼 */
.upload_button {
    font-size: 25px;
    text-align: center;
    padding-bottom: 100px;
    margin: auto;
    height: 100px;
}

.upload_button button {
    width: 150px;
    height: 30px;
}