@charset "UTF-8";




  * {
        font-family: "나눔고딕", "맑은고딕", "굴림", "Helvetica";

    }

    a {
        color: #222;
        text-decoration: none;
    }

    body {
        min-width: 1200px;

    }


.container{
    min-width:1200px;
    margin:auto;
    padding-top: 150px;

  }

img{
  max-width:100%;
  border-radius: 50%;
  
}

.inbox_people {
  background: #f8f8f8 none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 500px; 
  height: 602px;;
  border-right:1px solid #c4c4c4;
}

.inbox_msg {
  border: 1px solid #c4c4c4;
  clear: both;

}

.top_spac{
  margin: 20px 0 0;
}


.recent_heading {
  float: left; width:40%;
}

.srch_bar {
  display: inline-block;
  text-align: right;
  width: 60%;
}

.headind_srch{
  padding:10px 29px 10px 20px; overflow:hidden; border-bottom:1px solid #c4c4c4;
}

.recent_heading h4 {
  color: #356211;
  font-size: 21px;
  margin: auto;
}

.chat_ib h5{
  font-size:15px;
  color:#464646;
  margin:0 0 8px 0;
}

.chat_ib h5 span{
  font-size:13px; float:right;
}

.chat_ib p{
 font-size:14px;
 color:#989898;
 margin:auto;
 white-space: nowrap;
 overflow: hidden;
 text-overflow: ellipsis;
}

.chat_img {
  float: left;
  width: 11%;
}

.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}

.chat_people{
  overflow:hidden;
  clear:both;
  display: inline-block;
  width: 400px;
  padding-left: 30px;
}

.message-checkbox {
  display: inline-block;
  float: left;
}

.checkbox {
  margin-top: 13px;
  height: 20px;
  width: 20px;
}

.chat_list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
}

.inbox_chat {
  height: 553px;
  overflow-y: scroll;
}


.active_chat{
 background:#ebebeb;
}


.incoming_msg_img {
  display: inline-block;
  width: 6%;
  margin-left: 10px;
}

.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 90%;
 }

 .received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}

.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}

.received_withd_msg {
  width: 57%;
}

.mesgs {
  /*float: left;*/
  padding: 30px 15px 0 25px;
  width: 100%;
}

 .sent_msg p {
  background: #356211 none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0; color:#fff;
  padding: 5px 10px 5px 12px;
  width:100%;
}

.outgoing_msg{
  overflow:hidden; margin:26px 0 26px;
}

.sent_msg {
  float: right;
  width: 46%;
  margin-right: 10px;
}

.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 70%;
  margin-top: 5px;
}

.type_msg {
  border-top: 1px solid #c4c4c4;position: relative;
  margin-top: 10px;
  width: 653px;
  display: inline-block;


}


.input_msg_write {
  width: 70%;
  float: left;
}


.black-button {
  margin-left: 140px;
  height: 33px;
  margin-top: 10px;
  width: 55px;
  display: inline-block;
  background-color: #c90000;
  border: 1px solid #c90000;
  text-align: center;
  color: white;
  border-radius: 5px;
}



.msg_send_btn {
  background: #356211 none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 35px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 35px;
  margin-right: 70px;
  display: inline-block;
  float: left;
}

.msg_send_btn:hover,
.delete:hover {
    background-color: #1c3609;
}


.black-button:hover{
    background-color: #910428;
}

.messaging {
  padding: 0 0 50px 0;
}

.msg_history {
  height: 516px;
  width: auto;
/*  overflow-y: auto;*/
}


.history-group {
  overflow-y: scroll;
  height: 450px;
}


.delete {
  display: inline-block;
  background-color: #356211;
  border: 1px solid #356211;
  text-align: center;
  height: 30px;
  width: 60px;
  font-size: 15px;
  margin-left: 210px;
  color: white;
  border-radius: 5px;
}


.input_msg_write input {
  width: 530px;
  margin-left: 10px;
}


.message-header-box {
  color: #356211;
  font-size: 21px;
  margin-top: -20px;
  text-align: center;
  margin-bottom: 10px;

    }

.message-content-about {
  padding-top: 8px;
  font-size: 15px;
  padding-bottom: 5px;

}


