@charset "UTF-8";
/* 기본 설정 */
* {
	font-family: "나눔고딕", "맑은고딕", "굴림", "Helvetica";
	color: #222;
}

a {
	color: #222;
	text-decoration: none;
}

/* 창 줄어드는 최소 사이즈 지정 */
body {
	min-width: 1200px;
}

hr {
	display: none;
}


.tbody-notice {
	width : 1200px;
	margin: auto;
}

/*공지사항 테이블*/
.table-notice {
	width: 100%;
	border: 1px solid #c9c9c9;
	border-radius: 5px;
}

.table-notice tr {
	border: 1px solid #c9c9c9;
	padding :10px;
}

.table-notice th {
	padding: 10px;
	text-align: center;
}

.table-notice td {
	padding :10px;
	text-align: center;
}



/*페이징 버튼*/
.notice-footer {
	padding-top: 25px;
	height: 40px;
	
	margin-top: 50px;
}

.notice-index {
	width: 420px;
	height: 32px;
	margin: auto;
}

.notice-index button {
	float: left;
	width: 32px;
	height: 32px;
	background-color: rgb(255, 255, 255);
	position: relative;
	margin: 0px 18px;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(170, 170, 170);
	border-image: initial;
	border-radius: 50%;
}
/* float clear */
.notice-index div:after {
	clear: both;
	float: none;
	display: block;
	content: '';
}

.notice-index button span {
	display: block;
	text-align: center;
	color: rgb(170, 170, 170);
	font-weight: bold;
}

/* 화살표 위치 조정 */
.notice-index .prev-btn span {
	margin-right: 2px;
}

.notice-index .next-btn span {
	margin-left: 2px;
}

.notice-index .index-list {
	float: left;
}
/* float clear */
.notice-index div:after, .index-listdiv:after {
	clear: both;
	float: none;
	display: block;
	content: '';
}

/* 인덱스 각 버튼 정렬 */
.notice-index .index-list li {
	display: inline-table;
	width: 32px;
	height: 32px;
}

/* 인덱스 각 버튼 스타일*/
.notice-index .index-list li a {
	display: table-cell;
	width: 100%;
	height: 100%;
	font-size: 15px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
	border-image: initial;
	border-radius: 50%;
}

.notice-index .index-list li .index-indiv {
	color: #356211;
}

/* 인덱스 버튼 마우스 오버 */
.notice-index .index-list li .index-indiv:hover {
	border-color: #356211;
	text-decoration: none;
}

/* 인덱스 버튼 - 현재 페이지 */
.notice-index .index-list li .index-active {
	color: rgb(255, 255, 255);
	background-color: #356211;
	border-color: #356211;
	cursor: default;
}