@charset "UTF-8";
 * {
        font-family: "나눔고딕", "맑은고딕", "굴림", "Helvetica";
        color: #222;
    }

    a {
        color: #222;
        text-decoration: none;
    }

    /* 창 줄어드는 최소 사이즈 지정 */
    body {
        min-width: 1200px;
    }

    hr {
        display: none;
    }

    .noticeDetail-tbody {
        width: 1200px;
        margin:auto;
    }

    /*공지사항 타이틀*/
    .noticeDetail-title {
        display: inline-block;
        font-size: 30px;
        color: #222;
        font-weight: bold;
        padding-top: 80px;
        padding-bottom: 30px;
        margin-left:200px;
        
    }

    /*제목 칸*/
    .title-notice {
        font-size: 25px;
        font-weight: bold;
        color: #356211;
        text-align: center;
		margin-bottom:50px;

    }

    /*글 박스*/
    .notice-textbox {
        overflow: auto;
        border: 1px solid;
        width: 600px;
        height: 250px;
        margin: 0 auto;
     


    }
    
    .notice-textbox p {
    	
		line-height:20px;
    }

    /*목록 버튼*/
    .back-btn {
        text-align: center;
        padding: 80px 0px 80px 0px;
        
    }

    .back-btn button {
        display: inline-block;
        background-color: #356211;
        color: white;
        border: 1px solid #356211;
        border-radius: 5px;
        width: 150px;
        height: 30px;
        font-size: 15px;
        text-align: center;

    }

    .back-btn button:hover {
        background-color: #1c3609;
        cursor: pointer;
    }