@charset "utf-8";
/*===========공통영역==========*/
body {
    padding-top: 100px;
    min-width: 1200px ;
    background-color: white;
}

* {
    font-family: "나눔고딕", "맑은고딕", "굴림", "Helvetica" ;
    color: #222;
}

hr {
    display: none;
}

a {
    color: white;
    text-decoration: none;
}

/* 전체 버튼 색, 둥글게 */
button {
    background-color: #356211;
    color: white;
    height: 29px;
    border: 1px solid #356211;
    border-radius: 5px ;
}

/*===========공통영역==========*/
.top_button_class{

	margin: auto;
	width: 1000px;
	text-align: center;
}
textarea {resize: none;}

.top_button_class>a {
	margin-top: 30px;
	float: left;
}

.button_class1 {
	background-color: #356211;
	color: white;
	border: 1px solid #356211;
	border-radius: 5px;
	width: 1000px;
	height: 50px;
	margin-bottom: 5px;
	font-size: 20px;
	line-height: 50px;
}

