@charset "UTF-8";
 * {
        font-family: "나눔고딕", "맑은고딕", "굴림", "Helvetica";
        color: #222;
    }

    a {
        color: #222;
        text-decoration: none;
    }

    /* 창 줄어드는 최소 사이즈 지정 */
    body {
        min-width: 1200px;
    }

    hr {
        display: none;
    }

    .privacy-statement-tbody {
        width: 1200px;
        margin:auto;
    }
    
    .privacy-contents {
    	line-height: 1.5;
    	padding: 30px;
    }

   .privacy-title {
   		font-size: 30px;
		font-weight: bold;
   }